.navbar {
    width: 100vw;
    height: 20vh;
    background-color:burlywood;
    display:flex;
    flex-direction: row;
}

.Page-desc {

    width: 33vw;
    height: 22vh;
    display:flex;
    flex-direction: column;
    background-color: blanchedalmond; 
}

Bread-collumn. {
    width: 33vw;
}