body {
    background-color: beige;
}


.navbar {
    width: 100vw;
    height: 10vh;
    background-color:burlywood;
    border: 10px solid rgb(212,187,151);
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.Page-desc {

    width: 100vw;
    height: 22vh;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    background-color: rgb(212, 187, 151); 

}

.text-spec-desc {
        display: flex;
        flex-direction: column;
    }

.food-collumn {
    height: 25vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.Headings {
    background-color:white;
    width:8vw;
    border:5px solid rgb(134, 117, 84);
    display: flex;
    text-align: center;
}
.Name-ing-alignment {
    display: flex;
    flex-direction: column;
}
#Hero-img {
    width: 20vw;
    height:20vh;
}

.reg-img {
    width:15vw;
    height:15vh;
}

.price-tag{
    background-color: lightyellow; 
    border: 3px solid rgb(134, 117, 84);
    width: 5vw;
    display:flex;
    align-items: center;
}

.footer-style{
    background-color: burlywood;
    border: 5px solid rgb(212,187,151);
    height:10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}