body {
    background-color: beige;
}


.navbar {
    width: 100vw;
    height: 10vh;
    background-color:burlywood;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}

.Page-desc {

    width: 100vw;
    height: 22vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: blanchedalmond; 
}

.food-collumn {
    height: 20vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.Headings {
    background-color:white;
    display: flex;
    text-align: center;
}
.Name-ing-alignment {
    display: flex;
    flex-direction: column;
}
#Hero-img {
    width: 45vw;
    height:33vh;
}